/* VARIABLES */

:root {
    --main-font-size: 13px;
    --dropbox-btn-bg: #0061FF;
    --dropbox-btn-bg-hov: #004cc5;
    --dropbox-hero-bg: #B4D0E7;
    --grey-line-col: #dfdfdf;
}


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--main-font-size)
}
ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

/* BASE LAYOUT */

.container-large {
    max-width: 100%;
    margin: 0 auto;
}

.container-medium {
    max-width: 900px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.vertical-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.btn-default {
    display: inline-block;
    background-color: var(--dropbox-btn-bg);
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 12px 12px;
} 

.btn-default:hover {
    background-color: var(--dropbox-btn-bg-hov);
} 

.btn-alt {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 500;
    text-align: center;
    padding: 12px 12px;
} 

.btn-alt:hover {
    background-color: rgb(245, 245, 245);
} 

h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 120%;
}

h2 {
    font-size: 42px;
    margin-bottom: 40px;
}

h3 {
    font-size: 26px;
    margin-bottom: 20px;
}


/* COL SIZES */

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}
 
.col-8 {
    flex-basis: calc((100% / 12) * 8);
}
 
.col-12 {
    flex-basis: calc((100% / 12) * 12);
}
 
/* HEADER */

.header-nav {
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.nav-left,
.nav-right {
    align-items: center;
}

.nav-left a,
.nav-right a {
    padding: 10px 20px;
}

.header-nav a,
.header-nav img {
    display: block;
}

.nav-left .col:not(.header-logo):hover,
.nav-right .col:hover {
    background-color: rgb(245, 245, 245)
}

/* HERO */

.hero-overlap {
    transform: translateY(10%);
}

.page-hero {
    background-color: var(--dropbox-hero-bg);
    margin-bottom: 80px;
}

.hero-title {
    margin-bottom: 35px;
}

.hero-content .vertical-row {
    align-items: flex-start;
    gap: 20px;
}

.hero-content p {
    font-weight: 400;
}

.hero-arrow {
    font-size: 40px;
    line-height: 135%;
    transform: scaleY(90%);
}

/* PRICE PLAN SECTION */

.price-plan .col-12,
.price-plan .col-4 {
    padding: 25px;
}

.price-plan-selection {
    margin-bottom: 40px;
}

.radio-btn {
    vertical-align: middle;
    transform: scale(150%);
    margin-right: 5px;
}

.radio-label {
    margin-right: 40px;
}

/* PRICE PLAN CARDS */

.price-plan-card {
    border: 1px solid var(--grey-line-col);
    gap: 25px;
    padding-bottom: 20px;
    min-height: 100%;
}

.price-plan-card .col-v {
    padding-inline: 30px;
}

.price-card-header {
    text-align: center;
    border-bottom: 1px solid var(--grey-line-col);
    padding: 15px;
}

.price-plan .card-price {
    font-weight: 700;
    margin-bottom: 15px;
}

.price-plan .card-timeframe {
    color: rgb(128, 128, 128);
}

.price-plan-card li {
    margin-bottom: 20px;
}

.card-btn {
    margin-bottom: 35px;
    width: 100%;
}

.card-link {
    text-decoration: underline;
    color: var(--dropbox-btn-bg);
    margin-bottom: 35px;
    display: inline-block;
}

.h-line {
    width: 20%;
    border-bottom: 1px solid var(--grey-line-col);
    margin-bottom: 25px;
}

.plan-highlights p {
    font-weight: 700;
    margin-bottom: 25px;
}


/* 1st METHOD FOR CUSTOM LIST STYLE */

[class^="list-icon"] {
    background-repeat: no-repeat;
    background-size: 14px;
    padding-left: 22px;
    background-position: 0px 1px;
}

.list-icon-user {
    background-image: url(../img/list-icons/user-solid.svg);
}

.list-icon-users {
    background-image: url(../img/list-icons/users-solid.svg);
    background-size: 17px;
    background-position: 0px 3px;
}

.list-icon-folder {
    background-image: url(../img/list-icons/folder-solid.svg);
}

.list-icon-share {
    background-image: url(../img/list-icons/share-nodes-solid.svg);
}

/* 2nd METHOD FOR CUSTOM LIST STYLE */

.plan-highlights li {
    position: relative;
    padding-left: 22px;
}

.list-icon-check {
    position: absolute;
    top: 1px;
    left: 0;
    color: var(--dropbox-btn-bg);
    font-size: 16px;
}

.price-plan .col-4 {
    margin-bottom: 20px;
}

/* WIDE CARD */

.wide-card .col-12 {
    padding: 0 25px;
    margin-bottom: 25px;
}

.wide-card .col-4 {
    padding: 0 0 0 75px;
    margin: 0;
}

.wide-card-btn {
    width: 100%;
    margin: 0;
}

.price-card-content p:not(:last-child) {
    font-weight: bold;
    margin-bottom: 40px;
}


/* LARGE IMAGE AND TEXT SECTION */

.large-img-text .col-8,
.large-img-text .col-4 {
    padding: 25px;
}

.large-img-text {
    font-size: 16px;
    margin-block: 100px;
}

.large-img-text .col-4 * {
    margin-bottom: 30px;
}

.large-card-text {
    position: relative;
    top: 10%;
}


/* DROPBOX OPERATIONS SECTION */


.dropbox-operations .col-12,
.dropbox-operations .col-4 {
    padding: 25px;
}





/* DEBUG */

.debug [class^="col"] {
    border: 1px dotted fuchsia;
}


.debug .dropbox-operations .col-4 {

    min-height: 200px;

}