/* VARIABLES */

:root {
    --main-font-size: 14px;
    --dropbox-btn-bg: #0061FF;
    --dropbox-btn-bg-hov: #004cc5;
}


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--main-font-size)
}
ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

/* BASE LAYOUT */

.container-large {
    max-width: 100%;
    margin: 0 auto;
}

.container-medium {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.btn-default {
    background-color: var(--dropbox-btn-bg);
    color: white;
} 

.btn-default:hover {
    background-color: var(--dropbox-btn-bg-hov);
} 

/* HEADER */

.header-nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-left,
.nav-right {
    align-items: center;
}

.nav-left a,
.nav-right a {
    padding: 10px 20px;
}

.header-nav a,
.header-nav img {
    display: block;
}

.nav-left .col:not(.header-logo):hover,
.nav-right .col:hover {
    background-color: rgb(245, 245, 245)
}


/* DEBUG */

.debug [class^="container"] {
    border: 2px solid;
}

.debug .col {
    border: 1px solid grey;
}